.schedule-table-container {
  margin-top: 20px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.shift-link {
  color: #007bff;
  text-decoration: none;
}

.shift-link:hover {
  text-decoration: underline;
}

.add-shift-btn {
  align-self: flex-start; /* Align button to the left */
}

